name: Update Tistory Posts

on:
  schedule:
    - cron: "0 15 * * *"   # 매일 00:00 (KST, UTC+9)
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://feeds.feedburner.com/tistory/buphmkgake2"
          max_post_count: 6
          template: |
            <table>
              <tr>
                {{range $i, $post := .Posts}}
                  {{if lt $i 3}}
                  <td width="33%" valign="top">
                    <a href="{{$post.URL}}">{{$post.Title}}</a>
                  </td>
                  {{end}}
                {{end}}
              </tr>
              <tr>
                {{range $i, $post := .Posts}}
                  {{if and (ge $i 3) (lt $i 6)}}
                  <td width="33%" valign="top">
                    <a href="{{$post.URL}}">{{$post.Title}}</a>
                  </td>
                  {{end}}
                {{end}}
              </tr>
            </table>
